input{
    height: 20px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    border-style: None;
    border: 1px solid transparent;
    border-radius: 8px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#availability {
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 40px;
  }